rdflib
jupyter-book
myst_parser
sphinxcontrib-mermaid
#ontoenv>=0.4.0a12
pyontoenv==0.1.9a3
brickschema==0.7.4a9
brick-tq-shacl==0.3.3a3
git+https://github.com/NREL/buildingmotif.git@develop#egg=buildingmotif
